.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.formContainer > div{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 16px;
    width: 70%;
    height: 10rem;
    margin: 5rem;
    color: var(--white-color);
    background: rgb(3,34,67);background: linear-gradient(79deg, rgba(3,34,67,1) 0%, rgba(0,86,179,1) 84%);    color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.307);
    gap: 8rem;
}

