@import url('../../styles/variables/Variables.css');
@import url('../../styles/fonts/Fonts.css');
@import url('../../App.css');


footer{
    background-color: var(--primary-color);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    background-color: var(--primary-color);
}

.container > div > h1{
    color: #fff;
    font-size: 3rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.491);    
}

.footerlinks{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.copywrite{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
    color: var(--white);
}

.copywrite > p{
    font-size: 0.8rem;
    color: #fff;
}

.containerLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    gap: 1rem;
}

.containerLinks > a{
    text-decoration: none;
}

